@model IEnumerable<WeddingMVC.Models.Photographer>
@{
    ViewBag.Title = "Planning";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var desiners = @Model.Where(x => x.Profession == "დიზაინერი");
    var photographers = @Model.Where(x => x.Profession == "ფოტოგრაფი");
}

<link href="/Content/css/slick-theme.css" rel="stylesheet" type="text/css" />
<link href="/Content/css/slick.css" rel="stylesheet" type="text/css" />
<link href="/Content/css/reset.css" rel="stylesheet" type="text/css" />

<section class="photographer">

    <div class="container-fluid photog-txt">
        <h2> Photographer </h2>
        <hr class="line1">

    </div>
    @{
        var firstuser = photographers.FirstOrDefault(x => x.Profession == "ფოტოგრაფი")?.ProfilePicture + ".png";

    }
    <div class="ms-staff-carousel ms-round g-mt-50">
        <div id="masterslider" class="master-slider ms-skin-default">
            <div class="ms-slide" data-delay="3" data-fill-mode="fill">
                <img src="/Content/img/desinerpictures/@firstuser" ) alt="pofile" title="" data-src="/Content/img/desinerpictures/@firstuser" />
                <div class="ms-info photog-description">
                    <h3 style="text-align: center;">
                        <a href="@Url.Action("Photographer","Home",new {user = @Model?.FirstOrDefault(x=>x.Profession=="ფოტოგრაფი")?.ProfilePicture})"> @(Model?.FirstOrDefault(x => x.Profession == "ფოტოგრაფი")?.Name) </a>
                    </h3>
                </div>
            </div>

            @{
                foreach (var item in photographers?.Skip(1))
                {
                    if (item.Profession == "ფოტოგრაფი")
                    {
                        var picturename = item.ProfilePicture + ".png";
                        <div class="ms-slide" data-delay="3" data-fill-mode="fill">
                            <img src="/Content/img/desinerpictures/@picturename" alt="profile" title="" data-src="/Content/img/desinerpictures/@picturename">
                            <div class="ms-info photog-description">
                                <h3 style="text-align: center;">
                                    <a href="@Url.Action("Photographer","Home",new {user = item.ProfilePicture})"> @item.Name </a>
                                </h3>
                            </div>
                        </div>
                    }
                }
            }


            @*<div class="ms-slide" data-delay="3" data-fill-mode="fill">
                    <img src="/Content/img/nutsa/nuca.jpg" alt="profile" title="" data-src="/Content/img/nutsa/nuca.jpg">
                    <div class="ms-info photog-description">
                        <h3 style="text-align: center;">
                            <a href="photographer.html"> Nutsa </a>
                        </h3>
                    </div>
                </div>

                <div class="ms-slide" data-delay="3" data-fill-mode="fill">
                    <img src="/Content/img/blog/5.jpg" alt="profile" title="" data-src="/Content/img/blog/5.jpg">
                    <div class="ms-info photog-description">
                        <h3 style="text-align: center;">
                            <a href="photographer.html"> Andria </a>
                        </h3>
                    </div>
                </div>*@

        </div>
    </div>

</section>





<section class="pb-5 box-slide">
    <div class="photog-txt">
        <h2 class="text-center">
            decoration
        </h2>
        <hr class="line1">
    </div>


    @{
        var firstdesiner = @Model?.FirstOrDefault(x => x.Profession == "დიზაინერი");
        var firstdesinerpicture = Model?.FirstOrDefault(x => x.Profession == "დიზაინერი")?.ProfilePicture + ".png";
        var firstdesinerfullname = firstdesiner.Name + " " + firstdesiner?.Surname;

    }
    <div class="slider container">
        <div class="col-lg-4 col-md-6 col-6  wow fadeInUp" data-wow-delay="0.4s">
            <div class="team-thumb">
                <a href="@Url.Action("DesinerPage", "Home", new {user=firstdesiner?.ProfilePicture})">
                    <div class="image-holder">
                        <img class="img-circle" src="/Content/img/desinerpictures/@firstdesinerpicture" alt="Image">
                    </div>
                    @*<h2 class="heading"> description </h2>*@
                    <p class="description">
                        @firstdesinerfullname
                    </p>
                </a>
            </div>
        </div>
        @foreach (var item in desiners.Skip(1))
        {
            if (item.Profession == "დიზაინერი")
            {
                var desinerfullname = item.Name + " " + item?.Surname;
                var desinerpicture = item.ProfilePicture + ".png";
                <div class="col-lg-4 col-md-6 col-6  wow fadeInUp" data-wow-delay="0.4s">
                    <div class="team-thumb">
                        <a href="@Url.Action("DesinerPage", "Home", new {user=item.ProfilePicture})">
                            <div class="image-holder">
                                <img class="img-circle" src="/Content/img/desinerpictures/@desinerpicture" alt="Image">
                            </div>
                            <h2 class="heading"> description </h2>
                            <p class="description">
                                @desinerfullname
                            </p>
                        </a>
                    </div>
                </div>

            }
        }
    </div>

    @*<div class="col-lg-4 col-md-6 col-6  wow fadeInUp" data-wow-delay="0.4s">
            <div class="team-thumb">
                <a href="photographer.html">
                    <div class="image-holder">
                        <img class="img-circle" src="/Content/img/dec2.jpg" alt="Image">
                    </div>
                    <h2 class="heading"> description </h2>
                    <p class="description">
                        The text-decoration property adds an underline.
                    </p>
                </a>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-6  wow fadeInUp" data-wow-delay="0.4s">
            <div class="team-thumb">
                <a href="photographer.html">
                    <div class="image-holder">
                        <img class="img-circle" src="/Content/img/dec3.jpg" alt="Image">
                    </div>
                    <h2 class="heading"> description </h2>
                    <p class="description">
                        The text-decoration property adds an underline.
                    </p>
                </a>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-6  wow fadeInUp" data-wow-delay="0.4s">
            <div class="team-thumb">
                <a href="photographer.html">
                    <div class="image-holder">
                        <img class="img-circle" src="/Content/img/6.jpg" alt="Image">
                    </div>
                    <h2 class="heading"> decpration </h2>
                    <p class="description">
                        The text-decoration property adds an underline.
                    </p>
                </a>
            </div>
        </div>


        <div class="col-lg-4 col-md-6 col-6  wow fadeInUp" data-wow-delay="0.4s">
            <div class="team-thumb">
                <a href="photographer.html">
                    <div class="image-holder">
                        <img class="img-circle" src="/Content/img/6.jpg" alt="Image">
                    </div>
                    <h2 class="heading"> decpration </h2>
                    <p class="description">
                        The text-decoration property adds an underline.
                    </p>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-6  wow fadeInUp" data-wow-delay="0.4s">
            <div class="team-thumb">
                <a href="photographer.html">
                    <div class="image-holder">
                        <img class="img-circle" src="/Content/img/6.jpg" alt="Image">
                    </div>
                    <h2 class="heading"> decpration </h2>
                    <p class="description">
                        The text-decoration property adds an underline.
                    </p>
                </a>
            </div>
        </div>


        <div class="col-lg-4 col-md-6 col-6  wow fadeInUp" data-wow-delay="0.4s">
            <div class="team-thumb">
                <a href="photographer.html">
                    <div class="image-holder">
                        <img class="img-circle" src="/Content/img/6.jpg" alt="Image">
                    </div>
                    <h2 class="heading"> decpration </h2>
                    <p class="description">
                        The text-decoration property adds an underline.
                    </p>
                </a>
            </div>
        </div>


        <div class="col-lg-4 col-md-6 col-6  wow fadeInUp" data-wow-delay="0.4s">
            <div class="team-thumb">
                <a href="photographer.html">
                    <div class="image-holder">
                        <img class="img-circle" src="/Content/img/6.jpg" alt="Image">
                    </div>
                    <h2 class="heading"> decpration </h2>
                    <p class="description">
                        The text-decoration property adds an underline.
                    </p>
                </a>
            </div>
        </div>*@







</section>





<section class="pb-5">

    <div class="container-fluif text-center photog-txt">
        <h2>
            portfolio
        </h2>
        <hr class="line1">
    </div>

    <div class="container-fluid">
        <div id="filters" class="button-group filters-button-group text-center isotope-header">
            <!-- <button class="button is-checked border-0 bg-white isotope-txt text-uppercase" data-filter="*">All</button> -->
            <button class="button is-checked border-0 bg-white isotope-txt text-uppercase" data-filter=".ads">Dresses</button>
            <button class="button border-0 bg-white isotope-txt text-uppercase" data-filter=".books">Bouquets</button>
            <button class="button border-0 bg-white isotope-txt text-uppercase" data-filter=".flyers"> hairstyles </button>
            <button class="button border-0 bg-white isotope-txt text-uppercase" data-filter=".logos">cakes</button>
            <button class="button border-0 bg-white isotope-txt text-uppercase" data-filter=".websites">invitations</button>
        </div>
    </div>



    <div class="container">
        <div class="row grid data-isotope">
            <div class="col-lg-3 col-md-3 col-sm-4 col-6 grid-item websites p-1" data-category="websites">
                <a href="/Content/img/invitation/5.jpg" data-fancybox data-caption="This image has a caption">
                    <div style="background-image: url(/Content/img/invitation/5.jpg)" class="isotope-img"></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-6 grid-item websites p-1" data-category="websites">
                <a href="/Content/img/invitation/8.jpg" data-fancybox data-caption="This image has a caption">
                    <div style="background-image: url(/Content/img/invitation/8.jpg)" class="isotope-img"></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-6 grid-item websites p-1" data-category="websites">
                <a href="/Content/img/invitation/9.jpg" data-fancybox data-caption="This image has a caption">
                    <div style="background-image: url(/Content/img/invitation/9.jpg)" class="isotope-img"></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-6 grid-item flyers p-1" data-category="flyers">
                <a href="/Content/img/hairstyle/1.jpg" data-fancybox data-caption="This image has a caption">
                    <div style="background-image: url(/Content/img/hairstyle/1.jpg)" class="isotope-img"></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-6 grid-item flyers p-1" data-category="flyers">
                <a href="/Content/img/hairstyle/2.jpg" data-fancybox data-caption="This image has a caption">
                    <div style="background-image: url(/Content/img/hairstyle/2.jpg)" class="isotope-img"></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-6 grid-item flyers p-1" data-category="flyers">
                <a href="/Content/img/hairstyle/3.jpg" data-fancybox data-caption="This image has a caption">
                    <div style="background-image: url(/Content/img/hairstyle/3.jpg)" class="isotope-img"></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-6 grid-item ads p-1" data-category="ads">
                <a href="/Content/img/dresses/1.jpg" data-fancybox data-caption="This image has a caption">
                    <div style="background-image: url(/Content/img/dresses/1.jpg)" class="isotope-img"></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-6 grid-item ads p-1" data-category="ads">
                <a href="/Content/img/dresses/3.jpg" data-fancybox data-caption="This image has a caption">
                    <div style="background-image: url(/Content/img/dresses/3.jpg)" class="isotope-img"></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-6 grid-item ads p-1" data-category="ads">
                <a href="/Content/img/dresses/5.jpg" data-fancybox data-caption="This image has a caption">
                    <div style="background-image: url(/Content/img/dresses/5.jpg)" class="isotope-img"></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-6 grid-item books p-1" data-category="books">
                <a href="/Content/img/bouquet/15.jpg" data-fancybox data-caption="This image has a caption">
                    <div style="background-image: url(/Content/img/bouquet/15.jpg)" class="isotope-img"></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-6 grid-item books p-1" data-category="books">
                <a href="/Content/img/bouquet/18.jpg" data-fancybox data-caption="This image has a caption">
                    <div style="background-image: url(/Content/img/bouquet/18.jpg)" class="isotope-img"></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-6 grid-item books p-1" data-category="books">
                <a href="/Content/img/bouquet/17.jpg" data-fancybox data-caption="This image has a caption">
                    <div style="background-image: url(/Content/img/bouquet/17.jpg)" class="isotope-img"></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-6 grid-item logos p-1" data-category="logos">
                <a href="/Content/img/cake/12.jpg" data-fancybox data-caption="This image has a caption">
                    <div style="background-image: url(/Content/img/cake/12.jpg)" class="isotope-img"></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-6 grid-item logos p-1" data-category="logos">
                <a href="/Content/img/cake/11.jpg" data-fancybox data-caption="This image has a caption">
                    <div style="background-image: url(/Content/img/cake/11.jpg)" class="isotope-img"></div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-6 grid-item logos p-1" data-category="logos">
                <a href="/Content/img/cake/14.jpg" data-fancybox data-caption="This image has a caption">
                    <div style="background-image: url(/Content/img/cake/14.jpg)" class="isotope-img"></div>
                </a>
            </div>

        </div>
    </div>


</section>


